extend ./base/layout
block pageContent
  include ./about/main.jade 
  include ./CTA/CTA-5.jade 
  include ./about/benefits.jade 
  include ./CTA/CTA-6.jade
  include ./about/team.jade 
  include ./CTA/CTA-team.jade
