extend ./base/layout
block pageContent
  include ./partners/main.jade 
  include ./partners/desc.jade 
  include ./CTA/CTA-partners.jade
  include ./partners/benefits.jade 
  include ./CTA/CTA-3.jade
  include ./partners/how.jade 
  include ./CTA/CTA-4.jade
