section#about-desc.padding-top-m.padding-bottom-m
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h1.special-h1.padding-bottom-s.text-center About the Partnership
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.text-justify
        p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula velit ut lorem porta ullamcorper. Donec pulvinar felis nec tortor rutrum euismod. Vivamus pulvinar cursus quam non porttitor. Nam id risus sit amet tellus vestibulum vulputate. 
        p.lead Ut iaculis neque magna, id dictum ipsum ullamcorper eu. Ut nec nulla non felis vehicula dignissim sit amet nec quam. Sed efficitur lectus turpis, et bibendum erat dapibus sed. Donec dictum sapien urna, in elementum quam imperdiet sit amet. In laoreet libero eget erat malesuada tincidunt. Nulla gravida rhoncus nisl, vel laoreet massa aliquam in. Nullam aliquam magna id sapien mattis interdum. 