block ctaVars
  - idea = {}
  - idea.sectionId = 'CTA-idea'
  - idea.title = 'Have an idea for an episode?'
  - idea.paragraph = 'We invite startups, investors, business angels, experts and corporations wanting to take a part in Startup Tv to contact us.'
  
  - one = {}
  - one.sectionId = 'CTA-1'
  - one.title = 'Lorem ipsum dolor sit amet'
  - one.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - two = {}
  - two.sectionId = 'CTA-2'
  - two.title = 'Lorem ipsum dolor sit amet'
  - two.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - partners = {}
  - partners.sectionId = 'CTA-partners'
  - partners.title = 'Lorem ipsum dolor sit amet'
  - partners.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'
  - partners.partner = true
  
  - analytics = {}
  - analytics.sectionId = 'CTA-analytics'
  - analytics.title = 'Lorem ipsum dolor sit amet'
  - analytics.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'
  - analytics.partner = true
  
  - team = {}
  - team.sectionId = 'CTA-team'
  - team.title = 'Lorem ipsum dolor sit amet'
  - team.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'
  - team.team = true
  
  - three = {}
  - three.sectionId = 'CTA-3'
  - three.title = 'Lorem ipsum dolor sit amet'
  - three.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'
 
  - four = {}
  - four.sectionId = 'CTA-4'
  - four.title = 'Lorem ipsum dolor sit amet'
  - four.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - five = {}
  - five.sectionId = 'CTA-5'
  - five.title = 'Lorem ipsum dolor sit amet'
  - five.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - six = {}
  - six.sectionId = 'CTA-6'
  - six.title = 'Lorem ipsum dolor sit amet'
  - six.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - share = {}
  - share.sectionId = 'CTA-share'
  - share.title = 'Help us spread the word, follow us and share on facebook.'

  - ctaArray = [idea, one, two, partners, analytics, team, three, four, five, six, share]

block includeCTALayout
  include ./../cta/mixin.jade