block episodesVars

- krakow_s1_e1 = {}
- krakow_s1_e1.name = "The Lean Start-up Method and BaseConnect"
- krakow_s1_e1.desc = "In this episode, Agnieszka meets Australian entrepreneur Ian Scarffe to discuss the Lean Startup Method, as well as, Rafał Bugaj and Damian Słuja who are (along with Ian Scarffe) the co-founders of the student social media site, BaseConnect - which is about to launch onto the market. The show discusses how the Lean Startup Method works, the benefits of having a startup in Kraków and introduces the world to Baseconnect, which is a social media platform that helps facilitate the flow of information between and within student organizations."
- krakow_s1_e1.img = "/krakow/s01e01.jpg"
- krakow_s1_e1.url = "LZVSKJuyP3A"

- krakow_s1_e2 = {}
- krakow_s1_e2.name = "Open Coffee Krakow"
- krakow_s1_e2.desc = 'In this episode, Agnieszka gets up extra early to check out Open Coffee Krakow, which is a morning "un-meeting" where entrepreneurs, students and others who are interested in startups can come, hang out, network, and share some stories. Agnieszka meets up with Entrepreneur and Angel Investor, Richard Lucas (who is also one of the organisers of Open Coffee), Piotr Zajac (Managing Director of Growth Republic - the first growth hacking company in Europe) and Joanna Satula-McGirr (Founder of the portal mojapsychologia.pl).'
- krakow_s1_e2.img = "/krakow/s01e02.jpg"
- krakow_s1_e2.url = "OEBVUI6VhmM"

- krakow_s1_e3 = {}
- krakow_s1_e3.name = "X-Massive Party #omgkrk"
- krakow_s1_e3.desc = "In this episode, Agnieszka gatecrashes the #omgkrk X-Massive Christmas Party. She meets up with organiser Richard Lucas (Angel Invester and Entrepreneur), Mateusz Romanowski (Co-founder of Allani), Michal Czaicki (CEO of Printbox) and Marek Kapturkiewicz (Co-founder of Innovation Nest)."
- krakow_s1_e3.img = "/krakow/s01e03.jpg"
- krakow_s1_e3.url = "G6hCjj87E0U"

- krakow_s1_e4 = {}
- krakow_s1_e4.name = "Growth Hacking with Growth"
- krakow_s1_e4.desc = "In this episode, KSTV explores Growth Hacking and introduces Growth Republic."
- krakow_s1_e4.img = "/krakow/s01e04.jpg"
- krakow_s1_e4.url = "jFjHRS03f_M"

- krakow_s1_e5 = {}
- krakow_s1_e5.name = "KrakSpot"
- krakow_s1_e5.desc = "In this episode, KSTV takes a look at KrakSpot. The meetings at KrakSpot are focused on internet, technology, e-business, marketing, entrepreneurship and startups. It's one of the main places to be for networking in Kraków."
- krakow_s1_e5.img = "/krakow/s01e05.jpg"
- krakow_s1_e5.url = "rVOHZ1Q8INo"

- krakow_s1_e6 = {}
- krakow_s1_e6.name = "Progress Academy"
- krakow_s1_e6.desc = "In this episode, KSTV visits Progress Academy, which organizes workshops for entrepreneurs teaching them the skills they need to give them a greater chance to succeed."
- krakow_s1_e6.img = "/krakow/s01e06.jpg"
- krakow_s1_e6.url = "gVg3VRmhGDY"

- krakow_s1_e7 = {}
- krakow_s1_e7.name = "Kanwa Przedsiębiorczych"
- krakow_s1_e7.desc = "In this episode KSTV covers the final of the Kanwa Przedsiębiorczych competition, hosted by Google for Entrepreneurs, where startups compete for a prize of 30,000zl."
- krakow_s1_e7.img = "/krakow/s01e07.jpg"
- krakow_s1_e7.url = "DpFYWU_egek"

- krakow_s1_e8 = {}
- krakow_s1_e8.name = "Aiesec Youth to Business Forum"
- krakow_s1_e8.desc = "In this episode KSTV takes a look back to the Aiesec Youth to Business Forum which was held in Krakow. The theme of this event is connecting students with business."
- krakow_s1_e8.img = "/krakow/s01e08.jpg"
- krakow_s1_e8.url = "ihmcRy33G7k"

- krakow_s1_e9 = {}
- krakow_s1_e9.name = "Inspired by Astia at Aspire 2014"
- krakow_s1_e9.desc = "In this episode, KSTV takes a look back at the Aspire conference and met up with the CEO of ASTIA - Sharon Vosmek."
- krakow_s1_e9.img = "/krakow/s01e09.jpg"
- krakow_s1_e9.url = "dCkjwoBXImU"

- krakow_s1_e10 = {}
- krakow_s1_e10.name = "Change Leaders"
- krakow_s1_e10.desc = "A profile of the inaugural Change Leaders conference."
- krakow_s1_e10.img = "/krakow/s01e10.jpg"
- krakow_s1_e10.url = "95pu3bR_NUI"

- krakow_s1_e11 = {}
- krakow_s1_e11.name = "Bitspiration"
- krakow_s1_e11.desc = "In this episode, KSTV takes a look at the annual Bitspiration festival in Kraków. Bitspiration brings speakers, entrepreneurs and tech heads together from around the world."
- krakow_s1_e11.img = "/krakow/s01e11.jpg"
- krakow_s1_e11.url = "r1avU-S_ITc"

- krakow_s1_e12 = {}
- krakow_s1_e12.name = "#OMGKRK SummerJam"
- krakow_s1_e12.desc = "In this episode we take a look back at the #OMGKRK Summerjam where we met up with Grzegorz Banaś from Hub:raum, Michał Kalina from Innovation Nest, Ivan Pasichnyk from Ecois.me and Startup Blogger Paul Chen at the OMGKRK"
- krakow_s1_e12.img = "/krakow/s01e12.jpg"
- krakow_s1_e12.url = "nMIR4FAdzPA"

- krakow_s1_e13 = {}
- krakow_s1_e13.name = "Codewise"
- krakow_s1_e13.desc = "In this episode KSTV visits Krakow-based start-up Codewise on their Open House day. "
- krakow_s1_e13.img = "/krakow/s01e13.jpg"
- krakow_s1_e13.url = "1Ry5BqwGEqA"

- krakow_s1_e14 = {}
- krakow_s1_e14.name = "ALE 2014"
- krakow_s1_e14.desc = "In this episode KSTV covers the Agile Lean Europe (ALE) conference held at the Park Inn hotel."
- krakow_s1_e14.img = "/krakow/s01e14.jpg"
- krakow_s1_e14.url = "6Sb62UmeWE0"

- krakow_s1_e15 = {}
- krakow_s1_e15.name = "Campus for Moms"
- krakow_s1_e15.desc = "In this episode KSTV takes a look at the Campus for Moms program which was run by Google for Entrepreneurs."
- krakow_s1_e15.img = "/krakow/s01e15.jpg"
- krakow_s1_e15.url = "_AbSBdXxXwk"

- krakow_s1_e16 = {}
- krakow_s1_e16.name = "Hubraum"
- krakow_s1_e16.desc = "In this weeks episode of Krakow Startup TV we profile Hub:raum."
- krakow_s1_e16.img = "/krakow/s01e16.jpg"
- krakow_s1_e16.url = "sxaGIxQFwxY"

- krakow_s1_e17 = {}
- krakow_s1_e17.name = "PLNOG"
- krakow_s1_e17.desc = "In this episode KSTV checks out the PLNOG conference."
- krakow_s1_e17.img = "/krakow/s01e17.jpg"
- krakow_s1_e17.url = "JZzb9jxaf6s"

- krakow_s1_e18 = {}
- krakow_s1_e18.name = "Design Thinking Week"
- krakow_s1_e18.desc = "In this episode KSTV profiles the Design Thinking Week which was recently held throughout Poland."
- krakow_s1_e18.img = "/krakow/s01e18.jpg"
- krakow_s1_e18.url = "Jiq-HUIdPE0"

- krakow_s1_e19 = {}
- krakow_s1_e19.name = "Life Science Open Space 2014"
- krakow_s1_e19.desc = "In this episode of Kraków Startup TV we profile the Life Science Open Space conference which provides a platform connecting researchers, inventors, scientists, investors, entrepreneurs, developers and customers."
- krakow_s1_e19.img = "/krakow/s01e19.jpg"
- krakow_s1_e19.url = "XVRldWo350A"

- krakow_s1_e20 = {}
- krakow_s1_e20.name = "Brainly"
- krakow_s1_e20.desc = "In this episode we profile Brainly who have become the world's biggest Social Learning Network."
- krakow_s1_e20.img = "/krakow/s01e20.jpg"
- krakow_s1_e20.url = "NDqZ17ObsPg"

- krakow_s1_e21 = {}
- krakow_s1_e21.name = "Top 500 Innovators"
- krakow_s1_e21.desc = "In this episode KSTV profiles the Top 500 Innovators program."
- krakow_s1_e21.img = "/krakow/s01e21.jpg"
- krakow_s1_e21.url = "Nlb8PgRZVss"

- krakow_s2_e1 = {}
- krakow_s2_e1.name = "Drones"
- krakow_s2_e1.desc = "In this episode of Kraków Startup TV, we take a look at the drone industry with Kraków-based startup FlyTech UAV as well as gaining expert insight from angel investor Richard Lucas and professional drone operator Artur Żyrkowski."
- krakow_s2_e1.img = "/krakow/s02e01.jpg"
- krakow_s2_e1.big = "/krakow/s02e01-big.jpg"
- krakow_s2_e1.url = "z1r2bS-vVt0"

- krakowSeason2 = [krakow_s2_e1]
- krakowSeason1 = [krakow_s1_e21, krakow_s1_e20, krakow_s1_e19, krakow_s1_e18, krakow_s1_e17, krakow_s1_e16, krakow_s1_e15, krakow_s1_e14, krakow_s1_e13, krakow_s1_e12, krakow_s1_e11, krakow_s1_e10, krakow_s1_e9, krakow_s1_e8, krakow_s1_e7, krakow_s1_e6, krakow_s1_e5, krakow_s1_e4, krakow_s1_e3, krakow_s1_e2, krakow_s1_e1 ]
- krakow = {}
- krakow.city = "Kraków"
- krakow.cityURL = "krakow"
- krakow.array = [krakowSeason2, krakowSeason1]

- warszawaSeason1 = [krakow_s1_e20]
- warszawa = {}
- warszawa.city = "Warszawa"
- warszawa.cityURL = "warszawa"
- warszawa.array = [warszawaSeason1]

- londonSeason1 = []
- london = {}
- london.city = "London"
- london.array = [londonSeason1]

block pageContent
  div Default krakow episodes page content