block partnersVars
  - RVMA = {}
  - RVMA.name = "Red Viper Media Arts"
  - RVMA.logo = "logo-rvma"
  - RVMA.photo = "bg-rvma"
  - RVMA.url = "http://www.redviper.tv"
  - RVMA.descShort = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare."
  - RVMA.desc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare. Maecenas molestie tempor ipsum at vulputate. Pellentesque lobortis at mauris non condimentum. Aliquam pulvinar massa pellentesque tellus tempor vehicula. Curabitur at neque lacus. Etiam egestas suscipit leo, sed imperdiet lorem elementum non. Nullam vel urna in lorem accumsan vestibulum. Vestibulum nec tortor quis quam venenatis consequat at sed mi. Aliquam tincidunt neque tellus, sed porttitor dolor pulvinar quis. Suspendisse sit amet tortor feugiat, laoreet nisi vel, mattis ante. Vivamus quis sollicitudin purus. Sed egestas turpis id leo sollicitudin euismod. Aenean sit amet lacinia magna, id pellentesque nulla. Vestibulum ut magna lobortis, porttitor lacus a, dignissim elit."

  - Test = {}
  - Test.name = "Company Test"
  - Test.logo = "logo-temp"
  - Test.photo = "bg-temp"
  - Test.url = "www.google.com" 
  - Test.descShort = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare."
  - Test.desc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare. Maecenas molestie tempor ipsum at vulputate. Pellentesque lobortis at mauris non condimentum. Aliquam pulvinar massa pellentesque tellus tempor vehicula. Curabitur at neque lacus. Etiam egestas suscipit leo, sed imperdiet lorem elementum non. Nullam vel urna in lorem accumsan vestibulum. Vestibulum nec tortor quis quam venenatis consequat at sed mi. Aliquam tincidunt neque tellus, sed porttitor dolor pulvinar quis. Suspendisse sit amet tortor feugiat, laoreet nisi vel, mattis ante. Vivamus quis sollicitudin purus. Sed egestas turpis id leo sollicitudin euismod. Aenean sit amet lacinia magna, id pellentesque nulla. Vestibulum ut magna lobortis, porttitor lacus a, dignissim elit."

  - PartnersArray = [RVMA, Test, Test, Test, Test, Test]

block partnersContent
  div Default partner page content