block mentorsVars

- Paul = {}
- Paul.name = "Paul James Pearson"
- Paul.photo = "Paul-Pearson"
- Paul.lnUrl = "https://www.linkedin.com/in/paul-james-pearson-56b30a2b/"
- Paul.company = "Red Viper Media Arts"
- Paul.companyUrl = "http://www.redviper.tv"
- Paul.position = "Producer"
- Paul.bioShort = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare."
- Paul.bio = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare. Maecenas molestie tempor ipsum at vulputate. Pellentesque lobortis at mauris non condimentum. Aliquam pulvinar massa pellentesque tellus tempor vehicula. Curabitur at neque lacus. Etiam egestas suscipit leo, sed imperdiet lorem elementum non. Nullam vel urna in lorem accumsan vestibulum. Vestibulum nec tortor quis quam venenatis consequat at sed mi. Aliquam tincidunt neque tellus, sed porttitor dolor pulvinar quis. Suspendisse sit amet tortor feugiat, laoreet nisi vel, mattis ante. Vivamus quis sollicitudin purus. Sed egestas turpis id leo sollicitudin euismod. Aenean sit amet lacinia magna, id pellentesque nulla. Vestibulum ut magna lobortis, porttitor lacus a, dignissim elit."

- Krzysztof = {}
- Krzysztof.name = "Krzysztof Nowak"
- Krzysztof.photo = "Krzysztof-Nowak"
- Krzysztof.lnUrl = "https://pl.linkedin.com/in/krzysztofkarolnowak/en" 
- Krzysztof.company = "Hive53/Contellio"
- Krzysztof.companyUrl = ""   
- Krzysztof.position = "Host"   
- Krzysztof.bioShort = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare."
- Krzysztof.bio = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare. Maecenas molestie tempor ipsum at vulputate. Pellentesque lobortis at mauris non condimentum. Aliquam pulvinar massa pellentesque tellus tempor vehicula. Curabitur at neque lacus. Etiam egestas suscipit leo, sed imperdiet lorem elementum non. Nullam vel urna in lorem accumsan vestibulum. Vestibulum nec tortor quis quam venenatis consequat at sed mi. Aliquam tincidunt neque tellus, sed porttitor dolor pulvinar quis. Suspendisse sit amet tortor feugiat, laoreet nisi vel, mattis ante. Vivamus quis sollicitudin purus. Sed egestas turpis id leo sollicitudin euismod. Aenean sit amet lacinia magna, id pellentesque nulla. Vestibulum ut magna lobortis, porttitor lacus a, dignissim elit."

- Test = {}
- Test.name = "Jan Kowalski"
- Test.photo = "Jan-Kowalski"
- Test.lnUrl = "www.google.com" 
- Test.company = "Test"
- Test.companyUrl = "www.facebook.com"   
- Test.position = "Testowa"   
- Test.bioShort = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare."
- Test.bio = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisi sit amet mi molestie ornare. Maecenas molestie tempor ipsum at vulputate. Pellentesque lobortis at mauris non condimentum. Aliquam pulvinar massa pellentesque tellus tempor vehicula. Curabitur at neque lacus. Etiam egestas suscipit leo, sed imperdiet lorem elementum non. Nullam vel urna in lorem accumsan vestibulum. Vestibulum nec tortor quis quam venenatis consequat at sed mi. Aliquam tincidunt neque tellus, sed porttitor dolor pulvinar quis. Suspendisse sit amet tortor feugiat, laoreet nisi vel, mattis ante. Vivamus quis sollicitudin purus. Sed egestas turpis id leo sollicitudin euismod. Aenean sit amet lacinia magna, id pellentesque nulla. Vestibulum ut magna lobortis, porttitor lacus a, dignissim elit."

- mentorsLink = {}
- mentorsLink.name = "check our mentors" 
- mentorsLink.url = "#mentors" 
- mentorsLink.class = "btn-primary" 
- mentorsLink.target = "_self" 

- teamsLink = {}
- teamsLink.name = "check participants" 
- teamsLink.url = "#teams" 
- teamsLink.class = "btn-primary" 
- teamsLink.target = "_self" 

- hiveLink = {}
- hiveLink.name = "Hive53" 
- hiveLink.url = "http://www.hive53.com/" 
- hiveLink.class = "" 
- hiveLink.target = "_blank" 

- EMLink = {}
- EMLink.name = "3rd Kraków Enterprise Mondays" 
- EMLink.url = "https://www.eventbrite.com/e/3rd-krakow-enterprise-mondays-7th-november-tickets-28884078055" 
- EMLink.class = "" 
- EMLink.target = "_blank" 

- beerLink = {}
- beerLink.name = "join FB event" 
- beerLink.url = "https://www.facebook.com/events/1359504074101327/" 
- beerLink.class = "btn-info" 
- beerLink.target = "_blank" 

- demoLink = {}
- demoLink.name = "join FB event" 
- demoLink.url = "https://www.facebook.com/events/1759724300961398/" 
- demoLink.class = "btn-info" 
- demoLink.target = "_blank" 

- Panel = [Karol, Marcin, Ewa, Dominik]
- PreDemo = [Greg, Kinga]

- hive = {}
- hive.name = "Hive53"
- hive.logo = "hive-logo"
- hive.link = hiveLink
- hive.team = [Krzysztof, Daniel]

- KEM = {}
- KEM.name = "Krakow Enterprise Mondays"
- KEM.logo = "KEM-logo"
- KEM.link = EMLink
- KEM.team = [Richard]

- Beer = [hive, KEM]

block pageContent
  div Default mentor page content