mixin reasone(title, desc, icon)
  .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.col-lg-4.padding-bottom-xs
    i.icon.icon-l(class=icon)
    h4.text-uppercase !{title}
    p !{desc}

section#why.padding-top-m.padding-bottom-m
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        h1.special-h1.padding-bottom-s.text-center How to apply?
    .row.text-center
      +reasone("1. Lorem", "Nunc vitae nisi sit amet mi molestie ornare. Maecenas molestie tempor ipsum at vulputate.","icon_mail")
      +reasone("2. Ipsum", "Pellentesque lobortis at mauris non condimentum. Aliquam pulvinar massa pellentesque tellus tempor vehicula.", "icon_video-camera")
      +reasone("3. Dolor", "Curabitur at neque lacus. Etiam egestas suscipit leo, sed imperdiet lorem elementum non.", "icon_video-love")
      .clearfix
