header#main.text-center
  .margin-top-l
  .container
    .row
      .col-xs-12
        .jumbotron
          h1.margin-top-m.padding-top-s Discover startup live
          p.lead.margin-top-xs Watch the best entrepreneurs, investors and business angels.
          .margin-top-m.margin-bottom-m
            a.btn.btn-lg.btn-primary(href="#apply") Watch latest episode